.lightbox-overlay {
	display: none; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	background-color: black; 
	opacity: 0.9; 
	z-index: 2000000;
	}

.lightbox-container {
	display: none; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	opacity: 1; 
	z-index: 2000000;
	text-align: center;
	}



#lightbox-final-image {
	display: absolute;
	position: fixed;
	width: auto;
	overflow: hidden;
	margin: 0 auto;
	}

.lightbox-image {
	cursor: pointer;
}