html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Raleway', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	vertical-align: bottom;
}
html {
	overflow-y: scroll;
	height: 100%;
}
strong {
	font-weight: bold;
}
i {
	font-style: italic;
}

body {
	font-size: 1.0em;
	}

.center {
	text-align: center;
	}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

#site-container {
	display: block;
	position: relative;
	overflow: auto;
	width: auto;
	}

/* Headings */

h1 {
	display: block;
	text-align: left;
	padding: 0;
	margin: 0px 0px 30px 0px;
	width: auto;
	float: none;
	font-size: 3.0em;
	}

h2 {
	display: block;
	text-align: left;
	padding: 0;
	margin: 0px 0px 30px 0px;
	width: auto;
	float: none;
	font-size: 2.7em;
	}

h3 {
	display: block;
	text-align: left;
	padding: 0;
	margin: 0px 0px 30px 0px;
	width: auto;
	float: none;
	font-size: 2.4em;
	}

h4 {
	display: block;
	text-align: left;
	padding: 0;
	margin: 0px 0px 30px 0px;
	width: auto;
	float: none;
	font-size: 2.1em;
	}

h5 {
	display: block;
	text-align: left;
	padding: 0;
	margin: 0px 0px 30px 0px;
	width: auto;
	float: none;
	font-size: 1.8em;
	}

h5 {
	display: block;
	text-align: left;
	padding: 0;
	margin: 0px 0px 30px 0px;
	width: auto;
	float: none;
	font-size: 1.5em;
	}

h6 {
	display: block;
	text-align: left;
	padding: 0;
	margin: 0px 0px 30px 0px;
	width: auto;
	float: none;
	font-size: 1.2em;
	}

p {
	display: block;
	text-align: left;
	padding: 0;
	margin: 0px 0px 30px 0px;
	width: 100%;
	float: none;
	font-size: 1.0em;
	line-height: 1.6em;	
	}

ol {

	list-style-position: inside;
	list-style-type: decimal;
	margin: 10px 0px 10px 0px;

	}

ol li ol {

	list-style-position: inside;
	list-style-type: lower-alpha;
	margin: 10px 0px 10px 0px;

	}

ul {

	list-style-position: inside;
	list-style-type: disc;
	margin: 10px 0px 10px 0px;

	}

ul li ol {

	list-style-position: inside;
	list-style-type: decimal;
	margin: 10px 0px 10px 0px;

	}

li {
	margin: 0px 0px 10px 30px;
	font-size: 1.0em;
	line-height: 1.6em;
	}

/* Top Nav */



.top-nav {
	display: block;
	position: relative;
	background-color: #333;
	width: auto;
	height: 80px;
}



	.top-nav-fixed-spacer {
		display: block;
		position: relative;
		background-color: #333;
		width: auto;
		height: 80px;
	}

	.top-nav-fixed {
		position: fixed;
		width: 100%;
		z-index: 1000000;
		top: 0;
		}


.top-nav div {
	overflow: visible;
	max-width: none;
	margin: 0 auto;
}

.hamburger {
	display: block;
	height: 20px;
	width: 40px;
	float: right;
	position: relative;
	overflow: hidden;
	padding-top: 10px;
	padding-right: 10px;
	}

.hamburger img {
	display: block;
	height: 40px;
	width: 40px;
	margin-top: 10px;
}


.top-nav-wrapper ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}

.top-nav-wrapper ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}

.top-nav-wrapper ul ul li ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}

.top-nav-wrapper ul ul li ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}


.nav-center {
	display: table;
	margin: 0 auto;
	float: none;
}

.nav-left {
	display: block;
	margin: 0;
	float: left;
}

.nav-right {
	display: block;
	margin: 0;
	float: right;
}


.top-nav div ul {
	display: none;
	position: relative;
	z-index: 10000;
	overflow: visible;
	}

.top-nav div ul.nav-icons {
	display: none;
	}

.top-nav div ul.nav-icons li {
	float: left;
	margin: 25px 0px 0px 0px;
}

.top-nav div ul.nav-icons li a img {
	margin-left: 5px;
}

.top-nav div ul.nav-links li {
	float: none;	
	clear: both;
	
}

.top-nav div ul.nav-links li a {
	display: block;
	color: white;	
	float: left;
	line-height: 50px;	
	text-decoration: none;
	font-size: 20px;
}


/* Spacing for Nav Links across the top */

.top-nav div ul.nav-links-center li a {
	margin: 0px 60px 0px 30px;
}

.top-nav div ul.nav-links-left li a {
	margin: 0px 0px 0px 40px;
}

/* Sub Menu */
.top-nav div ul.nav-links-left li:hover ul li a {
	margin: 0px 40px 0px 40px;
}

.top-nav div ul.nav-links-right li a {
	margin: 0px 40px 0px 70px;
}

.top-nav div ul.nav-links li ul {
	display: block;
	margin-left: 40px;
}

.top-nav div ul.nav-links li ul li a {
	margin-left: 40px;
}

/* end */




#nav-links {
	background-color: #222;
	opacity: 1;
	width: 100%;
	padding-bottom: 10px;
	}

@media screen and (min-width: 960px) {

	.top-nav div ul.nav-icons {
		display: block;
	}


}




@media screen and (min-width: 800px) {

	
	#nav-links {
		background-color: #333;
		opacity: 1;
		width: auto;
		padding-bottom: 0px;
	}

	.top-nav div ul {
		display: block;
		}

	
	.top-nav div {
		width: auto;
		padding: 0px 10px;
		max-width: 1200px;
		margin: 0 auto;
	}

	.hamburger {
		display: none;
	}

	.top-nav div ul.nav-links li {
		float: left;
		overflow: visible;
		clear: none;
	}

	.top-nav div ul.nav-links li a {
		display: block;
		color: white;	
		float: left;
		line-height: 80px;	
		text-decoration: none;
		font-size: 20px;
	}

	.top-nav div ul.nav-links li ul {
		display: none;
		visibility: hidden;
		position: absolute;
		z-index: 10000;
		opacity:0;
		margin-left: -30px;
	}

	
	
	.top-nav div ul.nav-links li:hover ul {
		display: block;
		visibility: visible;
		position: absolute;
		background-color: #333;	
		top: 80px;
		opacity:0.8;
		transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
	}

	.top-nav div ul.nav-links li:hover ul li {
		line-height: 40px;
	}

	.top-nav div ul.nav-links li:hover ul li a {
		line-height: 40px;
	}
	
	.top-nav div ul.nav-links li:hover ul li {
		display: block;		
		float: none;	
		padding: 10px 0px 10px 0px;
		overflow: hidden;
	}

	.top-nav div ul.nav-links li:hover ul li:hover {
		background-color: #000;
	}

	.top-nav div ul.nav-links li:hover ul li:hover a {
		background-color: #000;
	}

	

}


/* Logo Setup */

.logo {

	display: block;
	float: none;
	margin: 0 auto;

	}

.logo img {
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	width: 300px;
	line-height: 80px;
	vertical-align: middle;
	}
	

@media screen and (min-width: 800px) {
	.logo {
		display: block;
		position: relative;
		float: left;
		overflow: hidden;
		height: 80px;
		}
	.logo img {
		display: block;
		margin-top: 0px;
		margin-bottom: 0;
		margin-left: 0;
		width: 300px;
	}
}

/* Grid Layouts */


.spans {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 1px;
	
	}
.span {
	display: block;
	width: auto;
	position: relative;
	border-collapse:separate;
	border-spacing: 0px;
	}
.spanrow {
	display: block;		
	}
.spancol {
	display: block;
	margin-bottom: 20px;
	}

.span66 {
	display: block;
	width: auto;
	margin-bottom: 20px;
	}

.span33 {
	display: block;
	width: auto;
	margin-bottom: 20px;
	}

.span25 {
	display: block;
	width: auto;
	margin-bottom: 20px;
	}

.span50 {
	display: block;
	width: auto;
	margin-bottom: 20px;
	}

.span75 {
	display: block;
	width: auto;
	margin-bottom: 20px;
	}

.span100 {
	display: block;
	width: auto;
	margin-bottom: 20px;
	}

.span div div {	
	/* background-color: #eee; */
	/* border-top: 1px solid #FFFFFF; */
	/* border-right: 0px solid #FFFFFF; */
	/* border-bottom: 0px solid #FFFFFF; */
	/* border-left: 1px solid #FFFFFF; */
	/* border: 1px solid #FFF; */
	}
.span div div div {	
			
}

.spancol-internal {
	display: block;
	width: auto;	
	float: none;
	padding: 15px;
	}

.spanauto {
	width: auto;
	}

@media screen and (min-width: 600px) {

	.spans {
		display: block;
		overflow: hidden;
		margin: 0 auto;
		margin-top: 1px;
		}
	.span {
		display: table;
		width: 100%;
		position: relative;
		border-collapse:separate;
		border-spacing: 0px;
		}
	.spanrow {
		display: table-row;		
		}
	.spancol {
		display: table-cell;
		margin-bottom: 0px;
		}
	
	.span66 {
		display: table-cell;
		width: 66.66%;
		margin-bottom: 0px;
		}

	.span33 {
		display: table-cell;
		width: 33.33%;
		margin-bottom: 0px;
		}

	.span25 {
		display: table-cell;
		width: 25%;
		margin-bottom: 0px;
		}

	.span50 {
		display: table-cell;
		width: 50%;
		margin-bottom: 0px;
		}

	.span75 {
		display: table-cell;
		width: 75%;
		margin-bottom: 0px;
		}

	.span100 {
		display: table-cell;
		width: 100%;
		margin-bottom: 0px;
		}
	
	.span div div {	
		/* background-color: #eee; */
		/* border-top: 1px solid #FFFFFF; */
		/* border-right: 0px solid #FFFFFF; */
		/* border-bottom: 0px solid #FFFFFF; */
		/* border-left: 1px solid #FFFFFF; */
		/* border: 1px solid #FFF; */
		}
	.span div div div {	
				
	}

	.spancol-internal {
		display: block;
		width: auto;	
		float: none;
		padding: 15px;
		}

	.spanauto {
		width: auto;
		}

}

/* Colors */

.bg-white {
	background-color: #FFF !important;	
	}

.bg-silver {
	background-color: #EEE !important;	
	}

.fg-black {
	color: #000 !important;
	}

.fg-white {
	color: #FFF !important;
	}

.text-align-left {
	text-align: left;
	}

.text-align-center {
	text-align: center;
	}

.text-align-right {
	text-align: right;
	}

.float-left {
	float: left;
	}

.float-right {
	float: right;
	}

.float-center {
	display: table;
	overflow: hidden;
	width: auto;
	float: none;
	margin: 0 auto;
	}

/* Folding Entities */

.folder-file {
	display: none;
	}

.folder-head {
	display: block;
	font-size: 1.5em;
	color: black;
	padding: 10px;
	cursor: pointer;
	}

.folder-file {
	padding: 20px;
	line-height: 20px;
	}

/* Back to Top Button */

.backtotop-container {
	display: none;
	}

@media screen and (min-width: 600px) {
	.backtotop-container {
		display: block;
		position: fixed;
		width: 60px;
		bottom: 20px;
		right: 0;
	}
	.backtotop-container a {
		display: block;
		position: relative;
		float: right;
		margin-right: 20px;
	}
	.backtotop-container a img {
		opacity: 0.2;
		}
}

/* Form elements */

::-webkit-input-placeholder {
   color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
   color: #aaa;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa;  
}
:-ms-input-placeholder {  
   color: #aaa;  
}

input[type="text"] {
	display: block;
	position: relative;
	padding: 10px;
	border: 1px solid #ccc;
	width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
	display: block;
	position: relative;
	padding: 10px;
	border: 1px solid #ccc;
	width: 100%;
	min-height: 100px;
	font-family: sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

select {
	display: block;
	position: relative;
	padding: 10px;
	border: 1px solid #ccc;
	width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.options {
	/* alter option style here, having trouble with cross browser support. */
}

.select-multiple {
	min-height: 100px;
}

input[type="radio"] {
	display: inline;
	float: none;
	margin: 0;
	padding: 0;
	margin-top: -3px;
    vertical-align: middle;
	cursor: pointer;
}

input[type="checkbox"] {
	display: inline;
	float: none;
	margin: 0;
	padding: 0;
    margin-top: -3px;
    vertical-align: middle;
	cursor: pointer;
}

input[type="submit"],input[type="button"] {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	border: none;
	padding: 15px 0px;
	font-size: 1.2em;
	background-color: #6699ff;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

input[type="submit"]:hover,input[type="button"]:hover {
	background-color: #97b9ff;
	}

/* To override an initially hidden element */
.show {
	display: block;
	}
